<app-navbar></app-navbar>
<div class="stepper-container">
   <!-- Back Button -->
   <button mat-button class="back-button" (click)="navigateToDashboard()">
    <mat-icon>arrow_back</mat-icon> Dashboard
  </button>
  <h1><img src="ebps.png"></h1>
  <h1>BUILDING PERMIT APPLICATION FORM</h1>
  <mat-horizontal-stepper [linear]="true" #stepper="matStepper">

    <!-- Step 1 -->
    <mat-step *ngIf="firstFormGroup" [stepControl]="firstFormGroup">
      <ng-template matStepLabel>
        Application Details
      </ng-template>
      <app-application-details [firstFormGroup]="firstFormGroup"></app-application-details>
    </mat-step>

    <!-- Step 2 -->
    <mat-step *ngIf="secondFormGroup" [stepControl]="secondFormGroup">
      <ng-template matStepLabel>
        Applicant Details
      </ng-template>
      <app-applicant-details [secondFormGroup]="secondFormGroup"></app-applicant-details>
    </mat-step>

    <!-- Step 3 -->
    <mat-step [stepControl]="dynamicForms">
      <ng-template matStepLabel>Land Information</ng-template>
      <app-land-information [dynamicForms]="dynamicForms" (addForm)="addNewForm()"
        (removeForm)="removeForm($event)"></app-land-information>
      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!dynamicForms.valid">
          Next
        </button>
      </div>
    </mat-step>
    <!-- Step 4 -->
    <mat-step [stepControl]="landOwnerForm">
      <ng-template matStepLabel>Land Owner Information</ng-template>
      <app-land-owner [landOwnerForm]="landOwnerForm" (addForm)="addNewlandOwnerForm()"
        (removeForm)="removelandOwnerForm($event)"></app-land-owner>
      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!landOwnerForm.valid">
          Next
        </button>
      </div>
    </mat-step>

    <!-- Step 6 -->
    <mat-step>
      <ng-template matStepLabel>
        Charkilla Details
      </ng-template>
      <p>You have completed all the steps!</p>
      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submitForm()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>