<app-navbar></app-navbar>
<div class="stepper-container">
  <mat-horizontal-stepper [linear]="true" #stepper="matStepper">
    <!-- Step 1 -->
    <mat-step *ngIf="firstFormGroup" [stepControl]="firstFormGroup">
      <ng-template matStepLabel>
        Application Details
      </ng-template>
      <app-application-details [firstFormGroup]="firstFormGroup"></app-application-details>
    </mat-step>

    <!-- Step 2 -->
    <mat-step *ngIf="secondFormGroup" [stepControl]="secondFormGroup">
      <ng-template matStepLabel>
        Applicant Details
      </ng-template>
      <app-applicant-details [secondFormGroup]="secondFormGroup"></app-applicant-details>
    </mat-step>

    <!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>
        Charkilla Details
      </ng-template>
      <p>You have completed all the steps!</p>
      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submitForm()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<app-footer></app-footer>