body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.form-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin-top: 2rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;  /* Ensures equal div size with a small gap */
  min-width: 280px; /* Minimum width for smaller screens */
  margin-bottom: 1rem; /* Space between form groups */
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}



.form-input input:disabled {
  background-color: #eaeaea;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column; /* Stacks form fields in a column on small screens */
  }
}
