<table class="form-table table-responsive" border="1">
  <thead>
    <tr>
      <th rowspan="4">Floor Name</th>
      <th colspan="6">Floor Area</th>
      <th rowspan="2" colspan="2">Total Floor Area (SQ.M)</th>
    </tr>
    <tr>
      <th colspan="4">Existing</th>
      <th colspan="2">Proposed (New Construction)</th>
    </tr>
    <tr>
      <th colspan="2">Other Building</th>
      <th colspan="2">Previous Permitted Storey</th>
      <th rowspan="2">Non Countable</th>
      <th rowspan="2">Countable</th>
      <th rowspan="2">Total (Taxable)</th>
      <th rowspan="2">Total</th>
    </tr>
    <tr>
      <th>Non Countable</th>
      <th>Countable</th>
      <th>Non Countable</th>
      <th>Countable</th>
    </tr>
  </thead>
  <tbody>
    <!-- Skip the first iteration using *ngIf -->
    <ng-container *ngFor="let form of floorForm.controls; let i = index">
      <tr *ngIf="i !== 0" [formGroup]="getFormGroup(form)">
        <td>{{ form.value.floorName }}</td>
        <td>
          <input matInput formControlName="NonCountableExisting" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="CountableExisting" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="NonCountablePermitted" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="CountablePermitted" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="NonCountableProposed" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="CountableProposed" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="TotalTaxable" placeholder="Enter value" />
        </td>
        <td>
          <input matInput formControlName="Total" placeholder="Enter value" />
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div class="button-group">
  <button mat-raised-button color="primary" (click)="addFloor()">Add Floor</button>
  <br>
  <br>
  <button mat-raised-button color="warn" (click)="removeFloor()">Remove Floor</button>
</div>