<div *ngFor="let form of charkillaForm.controls; let i = index">
    <div [formGroup]="asFormGroup(form)" class="charkillaFormGroup">
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item">
                <mat-label>Direction</mat-label>
                <mat-select formControlName="direction">
                    <mat-option value=1>East</mat-option>
                    <mat-option value=2>West</mat-option>
                    <mat-option value=3>North</mat-option>
                    <mat-option value=4>South</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Side</mat-label>
                <mat-select formControlName="side">
                    <mat-option value=1>Left</mat-option>
                    <mat-option value=2>Right</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Charkilla Name</mat-label>
                <input matInput formControlName="charkillaName" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Landscape Type</mat-label>
                <mat-select formControlName="landscapeType">
                  <mat-option *ngFor="let purpose of landscapeType" [value]="purpose.id">
                    {{ purpose.description }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
              <mat-label>Road</mat-label>
              <mat-select formControlName="roadId">
                  <mat-option value=1>This Road</mat-option>
                  <mat-option value=2>That Road</mat-option>
                </mat-select>
          </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
              <mat-label>Road Length</mat-label>
              <input matInput formControlName="roadLength" />
          </mat-form-field>
             
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item"> 
              <mat-label> Proposed Row</mat-label>
              <input matInput formControlName="proposedRow" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label> Existing Row</mat-label>
                <input matInput formControlName="existingRow" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Actual Setback</mat-label>
                <input matInput formControlName="actualSetback" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
              <mat-label>Standard Setback</mat-label>
              <input matInput formControlName="standardSetback" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
              <mat-label>Kitta</mat-label>
              <input matInput formControlName="kitta" />
            </mat-form-field>
        </div>
      <div class="add-remove-button">
        <button mat-raised-button class="remove-button" (click)="onRemoveForm(i)">
          Remove
        </button>
        <button mat-raised-button color="primary" (click)="onAddForm()">
          Add New
        </button>
      </div>
    </div>
  </div>
  