<div *ngFor="let form of houseOwnerForm.controls; let i = index">
    <div [formGroup]="asFormGroup(form)" class="houseOwnerFormGroup">
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item">
                <mat-label>Salutation</mat-label>
                <mat-select formControlName="salutation">
                    <mat-option value=1>Mr</mat-option>
                    <mat-option value=2>Ms</mat-option>
                    <mat-option value=3>Mrs</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item">
                <mat-label>House Owner Type</mat-label>
                <mat-select formControlName="houseOwnerType">
                    <mat-option value=1>Self</mat-option>
                    <mat-option value=2>Combined</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>House Owner Name</mat-label>
                <input matInput formControlName="houseOwnerName" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Father's Name</mat-label>
                <input matInput formControlName="fatherName" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Grand Father's Name</mat-label>
                <input matInput formControlName="grandFatherName" />
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Citizenship No.</mat-label>
                <input matInput formControlName="citizenshipNumber" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Issue District</mat-label>
                <mat-select formControlName="citizenshipIssueDistrict">
                    <mat-option *ngFor="let purpose of issueDistrict" [value]="purpose.id">
                        {{ purpose.description }}</mat-option>  
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item">
                <mat-label>Citizenship Issue Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="citizenshipIssueDate"
                  placeholder="MM-DD-YYYY" 
                  readonly
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Tole</mat-label>
                <input matInput formControlName="tole" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Ward Number</mat-label>
                <mat-select formControlName="wardNumber">
                    <mat-option *ngFor="let purpose of ward" [value]="purpose.id">
                        {{ purpose.wardNumber }}</mat-option> 
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phoneNumber" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="flex-item"> 
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" />
            </mat-form-field>
        </div>
      <div class="add-remove-button">
        <button mat-raised-button class="remove-button" (click)="onRemoveForm(i)" [disabled]="houseOwnerForm.controls.length === 1">
          Remove
        </button>
        <button mat-raised-button color="primary" (click)="onAddForm()">
          Add New
        </button>
      </div>
    </div>
  </div>
  