.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }
  
  .mat-toolbar {
    display: flex;
  }
  
  .spacer {
    flex: 1;
  }
  
  .content {
    margin-top: 16px;
  }
  
  .card-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  mat-card {
    flex: 1;
    text-align: center;
  }
  