.stepper-container {
  font-family: 'Roboto', sans-serif !important;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}

h1{
  text-align: center;
  color: rgb(73, 75, 75);
}

img{
  height:80px;
  width: 80px;
}
.back-button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #007bff;
  font-weight: bold;
}
.back-button mat-icon {
  font-weight: bold;
}





