/* src/app/footer/footer.component.css */
.footer {
  text-align: center;
  background: linear-gradient(to right, #293ce6, #ffffff);
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
