/* src/app/navbar/navbar.component.css */
.spacer {
    flex: 1;
  }
  
  mat-toolbar {
    background: #007bff;
    color: #ffffff; 
    box-shadow: 0 5px 5px rgb(168, 168, 168);
    margin-bottom:1rem;
    padding: 0 3rem;
    font-weight: bolder;
    letter-spacing: 4px;
  }
  
  mat-toolbar span {
    color: white; 
    text-shadow: 5px 2px 2px rgb(26, 25, 25);
    font-size: 28px;
  }
  
    mat-toolbar button {
      color: white; /* Sets text color to black for all buttons inside mat-toolbar */
    }
  
    mat-toolbar img{
      height:50px;
      width:50px;
      margin:8px;
    }
  
      button:hover {
        background-color: #e0f2f1; /* Light teal background on hover */
      }
  