<app-home-navbar></app-home-navbar>
<section class="about">
    <div class="about-content">
      <h1>About Electronic Building Permit System</h1>
      <p>  The <strong>Electronic Building Permit System (EBPS)</strong> is a digital solution designed to simplify 
        and streamline the process of applying for, reviewing, and issuing building permits. This system replaces 
        traditional methods, offering a faster, more efficient, and transparent process.</p>
      
    </div>
  </section>  
<app-footer></app-footer>