.about {
    height: 80vh;
    background: linear-gradient(to right, #e3f2fd, #ffffff); /* Soft gradient from light blue to white */
    color: #333; /* Darker text for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
    .about h1 {
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: #004d40; /* Darker shade of teal */
    }
  
    .about p {
        font-size: 1.5rem;
        padding: 10px;
        color: #555; /* Softer text color */
    }
  
 
  