/* src/app/navbar/navbar.component.css */
.spacer {
  flex: 1;
}

mat-toolbar {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  color: #333; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for a clean look */
  margin-bottom:1rem;
  padding: 0 3rem;
}

  mat-toolbar button {
    color: black; /* Sets text color to black for all buttons inside mat-toolbar */
  }

    mat-toolbar span{
        font-size:28px;
    }

  mat-toolbar img{
    height:50px;
    width:50px;
    margin:8px;
  }

    button:hover {
      background-color: #e0f2f1; /* Light teal background on hover */
    }
