<mat-toolbar color="primary">
  <span>SideBar</span>
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="sidenav">
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>About</a>
      <a mat-list-item>Services</a>
      <a mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="table-container">
    <div class="custom-search-bar">
      <div class="search-input-container">
        <input class="search-input" type="text"  (keyup)="applyFilter($event)" placeholder="Search Applicant"  />
        <button class="search-button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    
    
    
    <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8 custom-table">
      <!-- Application Number Column -->
      <ng-container matColumnDef="applicationNumber">
        <th mat-header-cell *matHeaderCellDef>Application No</th>
        <td mat-cell *matCellDef="let element">{{ element.applicationNumber }}</td>
      </ng-container>

      <!-- Applicant Name Column -->
      <ng-container matColumnDef="applicantName">
        <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantName }}</td>
      </ng-container>

      <!-- Transaction Type Column -->
      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
        <td mat-cell *matCellDef="let element">{{ element.transactionType }}</td>
      </ng-container>

      <!-- Application Date Column -->
      <ng-container matColumnDef="applicationDate">
        <th mat-header-cell *matHeaderCellDef>Application Date</th>
        <td mat-cell *matCellDef="let element">{{ element.applicationDate | date }}</td>
      </ng-container>

      <!-- Forward Column -->
      <ng-container matColumnDef="forward">
        <th mat-header-cell *matHeaderCellDef>Forward</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="forward(element)">Forward</button>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Detail Column -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef>Detail</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="viewDetails(element)">Detail</button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Quick Comments Column -->
      <ng-container matColumnDef="quickComments">
        <th mat-header-cell *matHeaderCellDef>Quick Comments</th>
        <td mat-cell *matCellDef="let element">{{ element.quickComments }}</td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      class="custom-paginator"
    ></mat-paginator>
  </div>
</mat-sidenav-container>
